node_modules/
typings/globals/core-js/index.d.ts
typings/globals/core-js/typings.json
typings/globals/jasmine/index.d.ts
typings/globals/jasmine/typings.json
typings/globals/node/index.d.ts
typings/globals/node/typings.json
typings/index.d.ts
